<div class="main-navigation" id="mainmenu-area">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary main-nav navbar-togglable rounded-radius">

            <a class="navbar-brand d-lg-none d-block" href="">
                <h4>Xylitol Technologies Private Limited</h4>
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="fa fa-bars"></span>
            </button>

            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <!-- Links -->
                <ul class="navbar-nav ">
                    <!-- <li routerLink="/home" class="nav-item dropdown" routerLinkActive="active">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarWelcome" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Home
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarWelcome">
                             <a class="dropdown-item " href="index.html">
                                Home-1
                            </a>
                            <a class="dropdown-item " href="index-2.html">
                                Home-2
                            </a> 
                            <a class="dropdown-item " href="index-3.html">
                                Home-3
                            </a>
                            <a class="dropdown-item " href="index-4.html">
                                Home-4
                            </a>
                        </div>
                    </li> -->
                    <li class="nav-item " routerLinkActive="active">
                        <a routerLink="/home" skipLocationChange class="nav-link js-scroll-trigger">
                            Home
                        </a>
                    </li>
                    <li class="nav-item " routerLinkActive="active">
                        <a routerLink="/project" skipLocationChange class="nav-link js-scroll-trigger">
                            Products
                        </a>
                    </li>
                    
                    <li class="nav-item " routerLinkActive="active">
                        <a routerLink="/service" skipLocationChange class="nav-link js-scroll-trigger">
                            Service & Support
                        </a>
                    </li>
                   
                    <li class="nav-item " routerLinkActive="active">
                        <a routerLink="/aboutus" skipLocationChange class="nav-link js-scroll-trigger">
                            About Us
                        </a>
                    </li>

                    <li class="nav-item " routerLinkActive="active">
                        <a routerLink="/contactus" skipLocationChange class="nav-link">
                            Contact Us
                        </a>
                    </li>
                </ul>

                <ul class="ml-lg-auto list-unstyled m-0">
                    <li><a routerLink="/home" skipLocationChange class="btn btn-white btn-circled" disabled>Get a quote</a></li>
                </ul>
            </div> <!-- / .navbar-collapse -->
        </nav>
    </div> <!-- / .container -->
</div>