<section class="section" id="process">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title">
                        Our Working process
                    </h2>

                    <!-- Subheadi0g -->
                    <p>
                        Xylitol Technologies provides the architecture to allow software engineers to build initial capabilities and add to them over time as business needs and technology change.
                    </p>

                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="../../assets/images/process/process-1.jpg" alt="" class="img-fluid">

                    <h3>Project Requirements</h3>
                    <p>Project requirements are the features, functions, and tasks that need to be completed for a project to be deemed successful.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="../../assets/images/process/process-2.jpg" alt="" class="img-fluid">

                    <h3>Project Analysis</h3>
                    <p>Project analysis is the process of determining the aspects of a project in project management.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6">
                <div class="process-block">
                    <img src="../../assets/images/process/process-3.jpg" alt="" class="img-fluid">

                    <h3>Development</h3>
                    <p>Project development involves organizing and planning all the variables that go into a project, including deciding materials, creating a budget and creating tasks for team members.</p>
                </div>
            </div>
        </div>
    </div>
</section>