<section class="bg-grey" id="service">
    <div class="container">
        <div class="row ">
            <div class="col-lg-4">
                <div class="service-img">
                    <img src="../../assets/images/blog-lg.jpg" alt="" class="img-fluid">
                </div>
            </div>

            <div class="col-lg-6 pl-4">
                <div class="service-content">
                    <h1>Get a better deal and start saving money today</h1>
                    <p>We compare hundreds of leading products and plans across many categories to bring you the best value for money.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pt-5 service-wrap">
    <div class="container">
        <div class="row ">
            <div class="col-lg-8 offset-lg-4">
                <div class="carousel slide " id="service-carousel" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="service-block media">
                                            <div class="service-icon">
                                                <i class="ti-reload"></i>
                                            </div>
                                            <div class="service-inner-content media-body">
                                                <h4>Backup System</h4>
                                                <p>Files and data of a computer system are duplicated to be used as a backup or data substitute when the primary system data is corrupted, deleted or lost.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="service-block media">
                                            <div class="service-icon">
                                                <i class="ti-cloud"></i>
                                            </div>
                                            <div class="service-inner-content media-body">
                                                <h4>Cloud Hosting</h4>
                                                <p>A network of connected virtual and physical cloud servers hosts the application or website, ensuring on-demand availability, greater flexibility and scalability.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="service-block media">
                                            <div class="service-icon">
                                                <i class="ti-world"></i>
                                            </div>
                                            <div class="service-inner-content media-body">
                                                <h4>Web hosting</h4>
                                                <p>Web hosting service provider, is a business that provides the technologies and services needed for the website or webpage to be viewed in the Internet.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="service-block media">
                                            <div class="service-icon">
                                                <i class="ti-server"></i>
                                            </div>
                                            <div class="service-inner-content media-body">
                                                <h4>Data Security</h4>
                                                <p>Data security includes data encryption, hashing, tokenization, and key management practices that protect data across all applications and platforms.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <p class="pl-3">Want to know more about this? <a routerLink="/home" skipLocationChange>Contact us</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>