<section class="section" id="services-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 text-center">
                <div class="section-heading">
                    <!-- Heading -->
                    <h2 class="section-title mb-2 text-white">
                        Web Services
                    </h2>

                    <!-- Subheading -->
                    <p class="mb-5 text-white">
                        Xylitol Technologies can be used to create anything from a small marketing page to a sophisticated website.
                    </p>
                </div>
            </div>
        </div> <!-- / .row -->

        <div class="row">
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="ti-light-bulb"></i>
                    <h3>Creative Design</h3>
                    <p>Creative design involves using computer-generated imagery and digital animation to visualise a product.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="ti-desktop"></i>
                    <h3>Web Development</h3>
                    <p>Web development can range from developing a simple single static page of plain text to complex web applications, electronic businesses, and social network services.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 mb-30">
                <div class="web-service-block">
                    <i class="ti-announcement"></i>
                    <h3>DevSecOps</h3>
                    <p>DevSecOps stands for development, security, and operations. It's an approach to culture, automation, and platform design that integrates security as a shared responsibility throughout the entire IT lifecycle.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="ti-layers-alt"></i>
                    <h3>Graphic Design</h3>
                    <p>Graphic Designers use elements such as shapes, colors, typography, images and more to convey ideas to an audience.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="ti-mobile"></i>
                    <h3>Mobile Application</h3>
                    <p>Mobile application development is the set of processes and procedures involved in writing software for small, wireless computing devices, such as smartphones and other hand-held devices.</p>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 col-md-6 ">
                <div class="web-service-block">
                    <i class="ti-settings"></i>
                    <h3>IoT</h3>
                    <p>The Internet of things describes physical objects with sensors, processing ability, and software that connect and exchange data with other devices over the Internet or other communications networks.</p>
                </div>
            </div>
        </div>
    </div>
</section>