<div class="container">
   <div class="row">
      <div class="col-md-8">
<h2>Trainee Software Developer</h2>
<h3>Job Description:</h3>
<ul>
  <li>Assist in developing software applications using the Angular framework.</li>
  <li>Collaborate with senior developers to understand project requirements and specifications.</li>
  <li>Write clean and efficient code following coding standards and best practices.</li>
  <li>Participate in code reviews and debugging sessions to identify and fix issues.</li>
  <li>Learn and apply new technologies and frameworks to enhance development skills.</li>
  <li>Assist in testing and quality assurance activities to ensure software functionality and performance.</li>
  <li>Support the team in documentation and technical documentation tasks.</li>
  <li>Participate in training and mentoring programs to enhance technical knowledge and skills.</li>
</ul>

<h3>Requirements:</h3>
<ul>
  <li>Currently studying in college pursuing a degree in Computer Science or related field.</li>
  <li>Basic knowledge of HTML, CSS, and JavaScript.</li>
  <li>Familiarity with the Angular framework is a plus.</li>
  <li>Strong problem-solving skills and attention to detail.</li>
  <li>Ability to work collaboratively in a team environment.</li>
  <li>Excellent communication and interpersonal skills.</li>
  <li>A strong desire to learn and grow as a software developer.</li>
</ul>
<h3>Benefits</h3>
<ul>
<li>Hands-on experience working on real-world projects</li>
<li>Flexible working time models and home office</li>
<li>Opportunity to work with cutting-edge technologies</li>
<li>A workplace where you can share and implement your ideas</li>
</ul>
<div class="d-flex justify-content-center">
<button type="submit" class="btn-primary btn-square btn-lg" (click)="navigate()">I'm Interested
  </button>
 </div>
 </div>
 </div>
</div>






