<div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2>Senior Software Developer</h2>
        <p>Currently we are looking for passionate and talented SOFTWARE DEVELOPERS to join our team as Senior Software Developer.</p>
        <h2>Responsibilities</h2>
        <ul>
          <li>With us, you assume responsibility for the basic framework and basic services of our cloud applications based on Angular, Java, React</li>
          <li>Whether new functions and services or improvements to the existing code base - you work on all aspects in a team </li>
          <li>Collaborate with the development team to build software applications</li>
          <li>Write clean, efficient, and maintainable code</li>
          <li>Participate in code reviews and contribute to team knowledge sharing</li>
          <li>Test and debug software applications</li>
        </ul>
        <h2>Requirements</h2>
        <ul>
          <li>Having four to five years experience in the relevant field</li>
          <li>Strong problem-solving skills and attention to detail</li>
          <li>You are familiar with the range of Javascript / React (Angular) as well as PL/SQL and NoSQL, Azure ADX, MongoDB, CosmosDB, C#/.NET, Oracle, PostgeSQL and Delphi</li>
          <li>Very Good Experience with one or more programming languages (JavaScript, Angular, React, etc.)</li>
          <li>Experience with Backend is an advantage(NodeJs, PostGreSQL, NextJs)</li>
           <li>You prefer working independently on a project to detailed instructions</li>
          <li>Ability to work in a team, strong communication skills, good knowledge of English and experience with agile methods</li>
        </ul>
        <h2>Benefits</h2>
        <ul>
          <li>Hands-on experience working on real-world projects</li>
          <li>Flexible working time models and home office</li>
          <li>Opportunity to work with cutting-edge technologies</li>
                 </ul>
         <div class="d-flex justify-content-center">
<button type="submit" class="btn-primary btn-square btn-lg" (click)="navigate()">I'm Interested
  </button>
 </div>
                </div>
      <div class="col-md-4">
             </div>
    </div>
  </div>
  

