<section class="section" id="projects-wrap">
<div class="overlay"></div>
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="section-heading">
<h1 class="text-white">We are trying to deliver 100% quality product and success their business to achieve ultimate goal.</h1>
</div>
</div>
<div class="col-lg-6">
<p class="lead text-white">We are providing best service since 1990 to present , committed to best service delivery.</p>
</div>
</div>
</div>
</section>

<!-- <section id="projects" class="section-bottom">
<div class="container">
<div class="row justify-content-center">
<div class="col-lg-4 col-md-6 col-sm-6 mb-5">
<div class="single-project">
<img src="../../assets/images/projects/p-1.jpg" alt="" class="img-fluid">
<div class="project-content">
<h4>Big Data</h4>
<p>Big Data is a collection of data that is huge in volume, yet growing exponentially with time
It is a data with so large size and complexity that none of traditional data management
tools can store it or process it efficiently.
</p>
</div>
</div>
</div>

<div class="col-lg-4 col-md-6 col-sm-6 mb-5">
<div class="single-project">
<img src="../../assets/images/projects/p-4.jpg" alt="" class="img-fluid">
<div class="project-content">
<h4>IoT</h4>
<p>The Internet of things describes physical objects with sensors, processing ability, and
software that connect and exchange data with other devices over the Internet or other
communications networks.</p>
</div>
</div>
</div>

<div class="col-lg-4 col-md-6 col-sm-8 ">
<div class="single-project">
<img src="../../assets/images/projects/p-3.jpg" alt="" class="img-fluid">
<div class="project-content">
<h4>Mobile Application</h4>
<p>Mobile application development is the set of processes and procedures involved in writing software for small, wireless computing devices, such as smartphones and other hand-held
devices.</p>
</div>
</div>
</div> -->
       
<section id="projects" class="section-bottom">
<div class="container">
<div class="row py-2 justify-content-center">
<div class="col-md-6">
<div class="single-project">
<img src="../../assets/images/projects/p-1.jpg" alt="" class="img-fluid">
<div class="project-content">
<h4>Big Data</h4>
<p>Big Data is a collection of data that is huge in volume, yet growing exponentially with time
It is a data with so large size and complexity that none of traditional data management
tools can store it or process it efficiently.
</p>
</div>
</div>
</div>


<div class="col-md-6">
<div class="single-project">
<img src="../../assets/images/projects/p-4.jpg" alt="" class="img-fluid">
<div class="project-content">
<h4>IoT</h4>
<p>The Internet of things describes physical objects with sensors, processing ability, and
software that connect and exchange data with other devices over the Internet or other
communications networks.</p>
</div>
</div>
</div>


<div class="col-md-6">
<div class="single-project">
<img src="../../assets/images/projects/p-3.jpg" alt="" class="img-fluid">
<div class="project-content">
<h4>Mobile Application</h4>
<p>Mobile application development is the set of processes and procedures involved in writing software for small, wireless computing devices, such as smartphones and other hand-held
devices.</p>
</div>
</div>
</div>

<div class="col-md-6">
<div class="single-project">
<img src="../../assets/images/projects/p-7.jpg" alt="" class="img-fluid">
<div class="project-content">
<h4>WebPortal & TicketingSystem</h4>
<p>We developed a web portal and a ticketing system for Puducherry Tourism Development Corporation(PTDC).Our web portal contain tourism information in and around Puducherry. It guides a complete list of location what to see on what period.  
We also have a ticketing system to book tickets for Tirumala Tirupati Devastanam for 100 pilgrims daily from Puducherry. This includes booking, transportation, food with guide. </p>
</div>
</div>
</div>
</div>

<div class="row py-4">
<div class="col-lg-7 col-md-12 col-sm-12 ">
<div class="single-project">
<img src="../../assets/images/bg/banner_bg.jpg" alt="" class="img-fluid">
</div>
</div>

<div class="col-lg-4 col-md-12 col-sm-12 ">
<div class="project-content-block">
<h4>Do you know who we are?</h4>
<h2>More than just service your products...</h2>
<p>Explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and we will give you a complete account of the system.</p>
</div>
</div>
</div>
</div> 
</section>