p{
    color:gray;
    font-style: oblique;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
  font-size:larger;
        }