<section class="section" text="justify-content-center">
<div class="card-header pad-50 justify-content-center">
<div class="container">
<div class="row mb-8">
<h3>APPLY NOW AND BECOME PART OF XylitolTEAM!</h3>
<p>
We are pleased that you are interested in a job at XylitolTechnology! Please fill out the short form below. If you have difficulties uploading your data, please send an email to info@techxylitol.com</p>
<span></span>
<div class="col-md-8 col-lg-6">
</div>
</div> 
<!-- / .row -->
<div>
<div class="row">
<!-- Input -->
<div class="col-sm-6 mb-6">
<div class="form-group">
<label class="h6 small d-block text-uppercase">
NAME
<span class="text-danger">*</span>
</label>
<div class="input-group">
<input class="form-control" name="firstname" id="firstname" required="" placeholder="First Name" type="text">
</div>
</div>
</div>
<!-- End Input -->
<!-- Input -->
<div class="col-sm-6 mb-6">
<div class="form-group">
<label class="h6 small d-block text-uppercase">
LASTNAME    
<span class="text-danger">*</span>                                
</label>
<div class="input-group">
<input class="form-control" name="lastname" id="lastname" required="" placeholder="Last Name" type="text">
</div>
</div>
</div>
<!-- End Input -->
<!-- Input -->
<div class="col-sm-6 mb-6">
<div class="form-group">
<label class="h6 small d-block text-uppercase">
Your email address
<span class="text-danger">*</span>
</label>
<div class="input-group ">
<input class="form-control" name="email" id="email" required="" placeholder="john@gmail.com" type="email">
</div>
</div>
</div>
<!-- End Input -->
<!-- Input -->
<div class="col-sm-6 mb-6">
<div class="form-group">
<label class="h6 small d-block text-uppercase">
Your Phone Number
<span class="text-danger">*</span>
</label>
<div class="input-group ">
<input class="form-control" id="phone" name="phone" required="" placeholder="1-800-643-4500" type="text">
</div>
</div>
</div>
<!-- End Input -->
<!-- Input -->
<div class="col-sm-6 mb-6">
<div class="form-group">
<label class="h6 small d-block text-uppercase">
 Date Of Birth
<span class="text-danger">*</span>
</label>
<div class="input-group">
<input class="form-control" name="availability" id="availability" required="" placeholder="DD:MM:YYYY" type="text">
</div>
</div>
</div>
 <!-- End Input -->
 <!-- Input -->
<div class="col-sm-6 mb-6">
<div class="form-group">
<label class="h6 small d-block text-uppercase">
 Role
<span class="text-danger">*</span>
</label>
<div class="input-group">
<select class="form-select form-select-lg mb-2" aria-label=".form-select-lg example">
  <option selected>Choose Your Role </option>
  <option value="1">Internship</option>
  <option value="2">Trainee</option>
  <option value="3">Junior Software Developer</option>
  <option value="3">Senior Software Developer</option>
</select>
 </div>
 </div>
</div>
 <!-- End Input -->
<!-- Input -->
<div class="col-sm-6 mb-6">
<div class="form-group">
<label class="h6 small d-block text-uppercase">
 AVAILABLE FROM
<span class="text-danger">*</span>
</label>
<div class="input-group">
<input class="form-control" name="availability" id="availability" required="" placeholder="DD:MM:YYYY" type="text">
</div>
 </div>
</div>
 <!-- End Input -->
 <!-- Input -->
 <div class="col-sm-6 mb-6">
 <div class="form-group">
 <label class="h6 small d-block text-uppercase">
 LINKEDIN
 </label>
 <div class="input-group">
<input class="form-control" name="linkedin" id="linkedin" required="" placeholder="https://www.linkedin.com/" type="link">
 </div>
 </div>
 </div>
 </div> 
 
 <!-- End Input -->
 <h4>DOCUMENTS</h4>
<div class="mx-auto" style="width: 1200px;">
<h5>Please upload your CV, current certificates and optionally a short cover letter (total max. 20 MB).</h5>
</div>
<!-- Input -->
<div class="container">
<div class="row mb-8">
 <div class="col-sm-6 mb-6">
<div class="form-group">
<label class="h6 small d-block text-uppercase" for="formFile">CV<span>*</span>
</label>
<input class="form-control" id="formFile" type="file" />
</div>
</div>

 <!-- End Input -->
 <!-- Input -->    
 <div class="col-sm-6 mb-6">
<div class="form-group">
<label class="h6 small d-block text-uppercase" for="formFileMultiple">Other Documents</label>
<input class="form-control" type="file" id="formFileMultiple" multiple />
</div>
</div>
</div>
</div>

 <!-- End Input -->
  <!-- Input -->    
 <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" for="flexCheckDefault">
    I agree that the information I have given for this application will be included in the XylitolTechnology
  </label>
</div>
</div>
</div>
 <!-- End Input -->
<div class="container">
<div class="d-flex justify-content-center">
<button type="button" class="btn-square mr-5">Cancel</button>
<button type="submit" class="btn-danger btn-square btn-lg">SUBMIT APPLICATION</button>
</div>
</div>
</div>
</section>

