<div class="container">
  <div class="grey-background">
     <span class='icon-bar'></span>
          <span class='icon-bar'></span>
  <h3>Our Current Job Offers</h3>
  <div class="list-group">
  <a href="/internship" class="list-group-item list-group-item-action">Intern in the area of IOT / Data Analyst/ AI & ML / Data Warehouse (m/f/d)</a>
  <a href="/trainee" class="list-group-item list-group-item-action">Trainee (m/f/d) Software Development</a>
  <a href="/junior-software-dev" class="list-group-item list-group-item-action">Junior Software Developer (m/f/d)</a>
  <a href="/senior-software-dev" class="list-group-item list-group-item-action">Senior Software Developer (m/f/d)</a>
</div>
</div>
</div>
  